@tailwind base;
@tailwind components;
@tailwind utilities;

.topBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2.5rem /* 40px */;
}

.todoLayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20;
    padding-bottom: 20;
    --tw-bg-opacity: 1;
    margin: 0.25rem /* 4px */;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

.todoDone {
    border-left-width: 5px;
    --tw-border-opacity: 1;
    border-color: rgba(52, 211, 153, var(--tw-border-opacity));
}

.buttonBar {
    display: flex;
    flex-direction: row;
}

.orderButton {
    display: flex;
    flex-direction: column;
    margin-right: 0.25rem /* 4px */;
}
